<section>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Skc Anmog</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="../dashboard">Newsfeed</a></li>
        <li><a href="../mains">Data Base</a></li>
        <li class="active"><a href="show">Search</a></li>
        <li><a href="#">Contact</a></li>
        <li> <%= link_to "Log Out", destroy_skc_session_path, method: :delete %></li>
      </ul>
    </div>
  </nav>
</section>
<header>
    <h1 class="h2">Search</h1>
</header>
<section>

</section>
<section class="search-form">
    <%= form_for :mains, method: :get do |f| %>
        <div class="input-group input-group-lg">
            <%= label_tag :keywords, nil, class: "sr-only" %>
            <%= text_field_tag :keywords, nil,
                placeholder:  "Drug Name, Brand Name, Manufacturer, Field of Application, or Orphan Drug",
                class: "form-control input-lg" %>
            <span class="input-group-btn">
                    <%= submit_tag "Find",
                        class: "btn btn-primary btn-lg" %>
            </span>
        </div>
    <% end %>
</section>
<section class="search-results">
    <header>
        <h1 class="h3">Results</h1>
    </header>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Number</th>
                <th>Drug Name</th>
                <th>Brand Name</th>
                <th>Manufacturer</th>
                <th>Field of Application</th>
                <th>Orphan Drug</th>
            </tr>
        </thead>
        <tbody>
            <% @mains.each do |main| %>
                <tr>
                    <td><%= main.number %></td>
                    <td><%= main.drug_name %></td>
                    <td><%= main.brand_name %></td>
                    <td><%= main.manufacturer %></td>
                    <td><%= main.field_of_application %></td>
                    <td><%= main.orphan_drug %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</section>
